body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Slab", serif;
}

.header,
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7%;
  background-color: goldenrod;
}

.section1,
.section2,
.section3,
.section4 {
  width: 100%;
  min-height: 22.5%;
}

.section1 {
  padding-top: 3%;
  width: 80%;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 3%;
}

.headerlogo {
  font-weight: 700;
  padding-left: 50px;
  font-size: x-large;
}

.links {
  font-size: small;
  margin-left: auto;
  padding-right: 50px;
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.hlink {
  margin-right: 30px;
}

.hl {
  text-decoration: none;
  color: aliceblue;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1f2937;
  color: #f9faf8;
  box-shadow: 0px 3px 25px 0 #1f2937, 0 4px 15px 0px #ccc;
}

.sec1text {
  width: 300px;
  height: 255px;
}

.sec1imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  border-radius: 10px;
  width: 410px;
  height: 255px;
  margin-right: 15%;
}

.sec1img {
  width: 400px;
  height: 250px;
  border-radius: 8px;
}

.sec1head1 {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.sec1head4 {
  font-weight: 600;
}

.headdot {
  font-size: x-large;
}

.sec2head1 {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-size: 20px;
  font-weight: 600;
}

.box1container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.box1container:hover {
  width: 250px;
  height: 250px;
}

.sec2boximg {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 3px solid rgb(0, 0, 0);
  transition: 0.5s;
}

.sec2box1,
.sec2box2,
.sec2box3,
.sec2box4 {
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
}

.box1info {
  font-weight: 600;
}

.box {
  padding-right: 50px;
  padding-left: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.shrektitle {
  font-style: italic;
}

.sec2boximg:hover {
  width: 250px;
  height: 250px;
  border: 3px solid rgb(0, 0, 0);
}

.boxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.section3 {
  margin-top: 70px;
  background-color: goldenrod;
  box-shadow: 0px 3px 25px 0 #8d8d8d, 0 4px 15px 0px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sec3head3 {
  max-width: 70%;
  font-size: 50px;
  font-family: "Kolker Brush", cursive;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.sec3head4 {
  max-width: 70%;
  margin-left: auto;
  margin-right: 25%;
  font-style: italic;
  color: #1f2937;
  font-weight: 600;
  font-family: "Cedarville Cursive", cursive;
}

.sec4box {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: goldenrod;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.section4 {
  padding-top: 70px;
}

.sec4hs {
  color: #1f2937;
  font-weight: 600;
  font-size: 30px;
  margin-left: 20px;
  font-family: "Permanent Marker", cursive;
}

.sec4btn {
  width: 120px;
  height: 50px;
  background-color: rgb(255, 36, 36);
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 3px;
  font-weight: 900;
  font-size: x-large;
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(255, 255, 255);
}
.sec4btn:hover {
  cursor: pointer;
  background-color: maroon;
}

.footer {
  display: flex;
  justify-content: center;
  color: #1f2937;
  background-color: goldenrod;
  font-weight: 700;
  font-size: large;
}
